---
 **NB:** It is **MANDATORY** to comment on every line of code you write should the need arise.

---

# Assignment 2 - Data Transformation 
All questions are weighted the same in this assignment.

The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table). 

Use this dataset to answer the questions below.

### Question 0
Import the olympics.csv dataset

In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv')
df.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15

### 1
Set the column with the country names as the index of the dataset and delete the first row (row 0)

### 2
Organized the columns as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals respectively.

### 3
Remove abbrebiations from index **For instance change Afghanistan (AFG) to Afghanistan** and drop the **Totals** column

### 4
Create lists of feature names for the features.

### 5
Use .describe() to examine statistical summaries of the features. Reflect on what you see. Does it make sense?